











/* header */
/* hero */

/* our advantage */
/* .advantage {
  padding-bottom: 0;
}

.list.odds {
  display: flex;
  flex-wrap: wrap;
}

.info::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--button-portfolio);
}

.ikon-clock::before {
  background-image: url(../images/clock.svg);
}

.ikon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.ikon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.ikon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.info {
  width: 270px;
  margin-right: 30px;
}

.info:nth-child(4n) {
  margin-right: 0;
}

.advantage-list {
  color: var(--primery-text-color);
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
} */

/* our work */

/* section-our-team */


/* footer */


/* portfolio */

/* modal window */

