
.header {
  
  border-bottom: 1px solid var(--bottom-line-header);
  background-color:var(--back-ground-color); 
  @media screen and (max-width:767px) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  }
    // position:fixed;
}

.menu {

//  @extend %content_center;

display: flex;
justify-content: space-between;
align-items: center;
// @media screen and (min-width:768px) {
//   // justify-content: space-between;
  
//  }
@media screen and (min-width:1200px){
  justify-content: left;
 }
}

.menu__logo {
  @include font (null,700,24px,1.16,null);
  color: var(--acccent-text-color);
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  @media screen and (min-width:1200px){
  @include font (null, 700, 26px, 1.2, null);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  }
  
  // @extend %logo;
  // display: flex;
  // align-items: center;
}

.menu__logo--black {
  color: var(--primery-text-color);
}

.nav {
  display: none;
  @media screen and (min-width:768px) {
  display: flex;
}
}

.nav__item {
  position: relative;
  
.nav &+& {
  margin-left: 50px;
}
}

.nav__pages {
  color: var(--title-text-color);
  display: block;
  @include font (null,500, null, 1.14,0.02em);
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
 &:hover,
 &:focus {
   color: var(--acccent-text-color);
 }
}

.nav__pages--current{
  display: block;
  @include font (null, 500, null, 1.14, 0.02em);
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--acccent-text-color);
  &::after {
  content: '';
  position: absolute;
  background-color: var(--acccent-text-color);
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 2px;
 }
}

.contacts {
  display: none;
  @media screen and (min-width:768px) {
  display: block;
  }
  @media screen and (min-width:1200px) {
  display: flex;
  margin-left: auto;
  }
  // align-items: center;
}

.contacts .contacts__item+.contacts__item {
  padding-top: 10px;
  @media screen and (min-width:1200px) {
  margin-left: 50px;
  padding-top: 0; 
  } 
}


.contacts__item :hover,
.contacts__item :focus {
  color: var(--acccent-text-color);
  fill: var(--acccent-text-color);
}

.contacts__name {
  align-items: center;
  display: flex;
  @include font (null, 500, null, 1.14, 0.02em);
  color: var(--title-text-color);
  text-decoration: none;
  fill: var(--title-text-color);
  @media screen and (min-width:1200px){
  padding-top: 32px;
  padding-bottom: 32px;
  }
}

.contacts__icon {
  margin-right: 10px;
}