body {
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  margin: 0;
  background-color: var(--back-ground-color);
  font-size: 14px;
}
img {
  display: block;
}
