%text {
  line-height: 1.71;
  margin: 10px 0 0 0;
}

 %content_center {
  display: flex;
  justify-content: center;
}

%logo{
  color: var(--acccent-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

%button{
  height: 50px;
    width: 200px;
    color: var(--text-white-color);
    background-color: var(--acccent-text-color);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    text-align: center;
    border: 1px transparent;
    
    cursor: pointer;
}