:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --acccent-text-color: #2196f3;
  --text-white-color: #ffffff;
  --button-portfolio: #f5f4fa;
  --back-ground-color: #ffffff;
  --border-color: #eeeeee;
  --bkg-hover-btn-hero: #188ce8;
  --bkg-hero: #2f303a;
  --bottom-line-header: #ececec;
  --logo-of-clients: #afb1b8;
}